{% extends "base.html" %}
{% block content %}

<h3>{{ title }}</h3>
<body style="text-align:center">
    <h1 style="margin-bottom: 7px;">Create Task</h1>
<form method="post">
    {% csrf_token %}
    <div class="col text-center">
    <div class="form-floating mb-3 w-10">
        <input  type="text" class="form-control" name="title" id="floatingInput" placeholder="Task Name">
        <label for="floatingInput">Title</label></div>
        <div class="form-floating">
        <input type="text" class="form-control" name="description" id="floatingInput" placeholder="Task Name" required>
        <label for="floatingInput">Description</label>
        <button class="btn btn-success my-3" type="submit">Create Task</button>
    </div>
</div>
</form>
</body>

{% endblock %}