{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body{
        background-image: url("");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: aliceblue;    
    }
    div-all {
        margin-right: 100px;
        margin-left: 100px;
        border-style: solid;
        text-align: left;
    }
    h1 {
  text-align: center;
  color: purple;
} 
tr.user{
    text-align: center;
    color: blue
}
p{
  text-align: center;
  color: black;
}  
</style>
<body>

<div class="all">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-floating mb-3 w-20">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="Username" required>
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="col text-center my-3">
            <input class="btn btn-success" type="submit" value="Login">
          </div>

    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Don't have an account? <a href="{% url 'todolist:register' %}">Create Account</a></p>

</div>
</body>

{% endblock content %}