{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}
<style>
    table, tr, td{
    border:1.5px solid black;
    border-collapse:collapse;
    text-align:left;
    }
    body{
        margin:3px;
}
</style>

<div class = "container-md">
    <h1 style="color:blueviolet">Registration Form</h1>

        <form method="POST" >
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr></tr>
            </table>
            <button class="btn btn-success mx-auto my-3" type="submit" >Daftar</button>
        </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock content %}