{% extends 'base.html' %}
 {% block content %}
 <style>
   table, th, td{
   border:1.5px solid black;
   border-collapse:collapse;
   text-align:left;
   }
   body{
    margin:auto;
   }
 </style>
 <body>
  <h1 >Assignment 3 PBD</h1>
  <br/>
  <h5>Nicolas Ananda</h5>

  <h5>{{NPM}}</h5>
  <br/>


  <table>
    <tr>
      <th>Watched</th>
      <th>Title</Title></th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_item %}
    <tr>
        <tbody>
            <th>
              {% if item.watched %}<p class="watched">✔️</p>
              {% else %}<p class="not">❌</p>{% endif %}
              
            </th>
            <th>{{item.title}}</th>
            <th>{{item.rating}}</th>
            <th>{{item.release_date}}</th>
            <th>{{item.review}}</th>
        </tbody>
    </tr>
    {% endfor %}
  </table>
  <h5>
    
  </h5>
 </body>

 {% endblock content %}
