{% extends 'base.html' %}
 {% block content %}
 <style>
  table, td, th {
    border: solid black;
    text-align: left;
    border-collapse: collapse;
    
  }
  tr{
    background-color: rgba(199, 184, 184, 0.801);
  }

  h1,p,h5 {
    text-align: center;
    color:rgb(206, 205, 205);
  }

  p,h5{
    font-size: larger;
  }

  </style>
  <h1 >Lab 1 Assignment PBD</h1>
  <br/>
  <p>{{name}}</p>

  <p>{{NPM}}</p>
  <br/>


  <table ,align= "center">
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_item %}
      <tr>
        <th>{{item.item_name}}</th>
        <th>{{item.item_price}}</th>
        <th>{{item.item_stock}}</th>
        <th>{{item.rating}}</th>
        <th>{{item.description}}</th>
        <th>{{item.item_url}}</th>
      </tr>
    {% endfor %}
  </table>

 {% endblock content %}
